modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m gunicorn main:app --bind 0.0.0.0:5000"]
build = ["sh", "-c", "pip install poetry && poetry install"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40702119
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m gunicorn main:app --bind 0.0.0.0:5000 --reload"

[[ports]]
localPort = 5000
externalPort = 80
